<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.foxdebug.acode.rk.exec.terminal"
        version="1.1.0">
    <name>Vexa Termux Terminal Bridge</name>

    <js-module name="Terminal" src="www/Terminal.js">
        <clobbers target="window.Terminal" />
    </js-module>

    <js-module name="Executor" src="www/Executor.js">
        <clobbers target="window.Executor" />
    </js-module>

    <platform name="android">
        <!-- Java-WebSocket remains available for LSP/runtime process compatibility. -->
        <framework src="org.java-websocket:Java-WebSocket:1.6.0" />

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Executor">
                <param name="android-package" value="com.foxdebug.acode.rk.exec.terminal.Executor" />
            </feature>
            <feature name="BackgroundExecutor">
                <param name="android-package" value="com.foxdebug.acode.rk.exec.terminal.BackgroundExecutor" />
            </feature>
            <feature name="TermuxBridge">
                <param name="android-package" value="com.foxdebug.acode.rk.exec.terminal.TermuxBridge" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <queries>
                <package android:name="com.termux" />
            </queries>
            <uses-permission android:name="com.termux.permission.RUN_COMMAND" />
        </config-file>

        <source-file src="src/android/BackgroundExecutor.java" target-dir="src/com/foxdebug/acode/rk/exec/terminal" />
        <source-file src="src/android/ProcessManager.java" target-dir="src/com/foxdebug/acode/rk/exec/terminal" />
        <source-file src="src/android/ProcessUtils.java" target-dir="src/com/foxdebug/acode/rk/exec/terminal" />
        <source-file src="src/android/StreamHandler.java" target-dir="src/com/foxdebug/acode/rk/exec/terminal" />
        <source-file src="src/android/Executor.java" target-dir="src/com/foxdebug/acode/rk/exec/terminal" />
        <source-file src="src/android/ProcessServer.java" target-dir="src/com/foxdebug/acode/rk/exec/terminal" />
        <source-file src="src/android/TermuxBridge.java" target-dir="src/com/foxdebug/acode/rk/exec/terminal" />
    </platform>
</plugin>
